<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://sandbox.magnet.com/mobile/api</string>
	<key>ClientID</key>
	<string>02ec42d5-bb68-4c8e-b785-9e7cfce3b388</string>
	<key>ClientSecret</key>
	<string>imCtb1fjxj6N4EXNrw0PTAxWduvyzd9Ot7nCEmB8KQA</string>
</dict>
</plist>
