<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://sandy.magnet.com/mobile/api</string>
	<key>ClientID</key>
	<string>d615896d-2fce-48a0-98b4-3d5379fe1282</string>
	<key>ClientSecret</key>
	<string>0XNf7ks3k-TQw7S_w2lEzs4NEE6pNSAIhuNrqo6TorY</string>
</dict>
</plist>
