<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://Jason-MacBook-Pro.local:8443/api</string>
	<key>ClientID</key>
	<string>6c7fc0b3-d109-4f72-a6ad-96e33bdcfc35</string>
	<key>ClientSecret</key>
	<string>cb_iqKwYV1TzCExmQ8fXZYiipQHW6VdaaIwiMhXWYUQ</string>
</dict>
</plist>
