<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>BaseURL</key>
		<string>mmx://citest01.magneteng.com:5222</string>
		<key>Domain</key>
		<string>mmx</string>
		<key>AppId</key>
		<string>gkhi369rspz</string>
		<key>ApiKey</key>
		<string>b2069100-421e-4156-8485-e026d441ac76</string>
		<key>AnonymousSecret</key>
		<string>-j0wtpkh570st</string>
		<key>ShouldForceTLS</key>
		<false/>
	</dict>
	<key>jasonlocal2</key>
	<dict>
		<key>BaseURL</key>
		<string>mmx://localhost:5222</string>
		<key>Domain</key>
		<string>mmx</string>
		<key>AppId</key>
		<string>ehti7nkbthc</string>
		<key>ApiKey</key>
		<string>ecfddd05-afbd-42e4-a347-5051cfc8710f</string>
		<key>AnonymousSecret</key>
		<string>332cefc8-7eec-4331-949e-9ed128005a15</string>
		<key>ShouldForceTLS</key>
		<false/>
	</dict>
	<key>jasonlocal</key>
	<dict>
		<key>BaseURL</key>
		<string>mmx://Jason-MacBook-Pro.local:5222</string>
		<key>Domain</key>
		<string>mmx</string>
		<key>AppId</key>
		<string>ibzi7qokyqo</string>
		<key>ApiKey</key>
		<string>705889cc-ddf8-4ac4-a4bb-08b404d05da2</string>
		<key>AnonymousSecret</key>
		<string>de810a7f-9850-4729-a0a2-86d5fc531496</string>
		<key>ShouldForceTLS</key>
		<false/>
	</dict>
	<key>priteshlocal</key>
	<dict>
		<key>BaseURL</key>
		<string>mmx://priteshs-macbook-pro.local:5223</string>
		<key>AppId</key>
		<string>7y6i6coyg6p</string>
		<key>ApiKey</key>
		<string>85cec60f-fa7f-480a-9656-3044a143a5e8</string>
		<key>AnonymousSecret</key>
		<string>d8fe309a-6a21-40d4-9506-06115fd7d695</string>
		<key>ShouldForceTLS</key>
		<false/>
		<key>AllowInvalidCertificates</key>
		<true/>
	</dict>
	<key>qatest</key>
	<dict>
		<key>BaseURL</key>
		<string>mmx://207.135.69.242:5222</string>
		<key>AppId</key>
		<string>iy4i6ihn53n</string>
		<key>ApiKey</key>
		<string>425703f3-7757-4ef5-8f93-2758ca15fbd3</string>
		<key>AnonymousSecret</key>
		<string>dc742924-bb08-4edf-8164-52ebd955fac3</string>
		<key>ShouldForceTLS</key>
		<false/>
	</dict>
</dict>
</plist>
