<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>BaseURL</key>
		<string>mmx://localhost:5222</string>
		<key>DomainName</key>
		<string>mmx</string>
		<key>AppId</key>
		<string>n9ci8ffoitr</string>
		<key>ApiKey</key>
		<string>55cff1f0-be33-4ba5-b76f-231954ab369f</string>
		<key>AnonymousSecret</key>
		<string>3c27efc5-0bfe-40f5-aa47-f600910aff12</string>
		<key>ShouldForceTLS</key>
		<false/>
		<key>PublicAPIPort</key>
		<real>5220</real>
		<key>AllowInvalidCertificates</key>
		<false/>
	</dict>
</dict>
</plist>